<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавить книгу</title>
    <link th:href="@{/css/navbar-vertical.css}" rel="stylesheet" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="side-bar">
            <ul class="nav-links">
                <li><a href="/catalog" class="">В КАТАЛОГ</a></li>
                <li><a href="/personal" class="">ЛИЧНЫЙ КАБИНЕТ</a></li>
                <li><a href="/ADMIN/books" class="">КНИГИ</a></li>
                <li><a href="/ADMIN/users" class="">ПОЛЬЗОВАТЕЛИ</a></li>
                <li><a href="/ADMIN/stock" class="">ТОВАРНЫЕ ТОЧКИ</a></li>
                <li><a href="/ADMIN/stats" class="">СТАТИСТИКА</a></li>
            </ul>
        </div>
    </header>

    
    <main class="paddings left-space">
        <h1>Изменить книгу</h1>
    
        <form th:action="@{/ADMIN/books/edit-{isbn}(isbn=${book.isbn})}" th:object="${book}" method="post">
    
            <div>
                <label for="title">Название:</label>
                <input type="text" id="title" name="title" th:field="*{book.title}" placeholder="Введите название книги" />
                <div th:if="${#fields.hasErrors('book.title')}" th:errors="*{book.title}"></div>
            </div>

            <div>
                <label for="author">Автор:</label>
                <input type="text" id="author" name="author" th:field="*{book.author}" placeholder="Введите имя автора" />
                <div th:if="${#fields.hasErrors('book.author')}" th:errors="*{book.author}"></div>
            </div>

            <div>
                <label for="publisher">Издатель:</label>
                <input type="text" id="publisher" name="publisher" th:field="*{book.publisher}" placeholder="Введите издателя" />
                <div th:if="${#fields.hasErrors('book.publisher')}" th:errors="*{book.publisher}"></div>
            </div>

            <div>
                <label for="description">Описание:</label>
                <textarea id="description" name="description" th:field="*{book.description}" placeholder="Введите описание"></textarea>
            </div>

            <div>
                <label for="coverUrl">Обложка URL:</label>
                <input type="url" id="coverUrl" name="coverUrl" th:field="*{book.coverUrl}" placeholder="Введите ссылку на обложку" />
            </div>

            <div>
                <label for="price">Цена:</label>
                <input type="text" id="price" name="price" th:field="*{price}" placeholder="Введите цену" />
                <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
            </div>
    
            <div>
                <button type="submit">Сохранить изменения</button>
                <a href="/ADMIN/books" class="button cancel">Отменить</a>
            </div>
        </form>
    </main>
</body>
</html>
