<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <title>Вход в систему</title>
</head>

<body>

    <!-- Error Messages -->
    <div th:if="${param.error}">
        <p style="color: red;">Неверно введенные учетные данные.</p>
    </div>
    <div th:if="${param.logout}">
        <p style="color: green;">Вы вышли из аккаунта.</p>
    </div>
    <div th:if="${param.deactivated}">
        <p style="color: red;">Аккаунт деактивирован.</p>
    </div>

    <!-- Login Form -->
    <h1>Вход в аккаунт</h1>
    <form th:action="@{/personal/login}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

        <div>
            <label for="email">Email:</label><br>
            <input type="text" id="email" name="username" placeholder="Введите ваш email" required />
        </div>

        <div>
            <label for="password">Пароль:</label><br>
            <input type="password" id="password" name="password" placeholder="Введите ваш пароль" required />
        </div>

        <div>
            <button type="submit">Войти</button>
        </div>
    </form>

    <!-- Registration link -->
    <div>
        <p>Нет аккаунта? <a th:href="@{/personal/reg}">Зарегистрируйтесь</a></p>
    </div>
</body>

</html>