<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Каталог книг</title>
	<link th:href="@{/css/styles.css}" rel="stylesheet" />
	<link th:href="@{/css/searchbar.css}" rel="stylesheet" />
	<link th:href="@{/css/bookitems.css}" rel="stylesheet" />
	<link th:href="@{/css/paganation.css}" rel="stylesheet" />
	<link th:href="@{/css/navbar.css}" rel="stylesheet" />
</head>

<body>
	<header>
		<script type="text/javascript" th:src="@{/js/navbar.js}"></script>
	</header>

	<main class="paddings">

		<form th:action="@{/catalog}" class="search-form">
			<input type="text" name="like" th:value="${like}" />
			<button type="submit" value="Искать книгу"></button>
			<a th:href="@{/catalog(sort=${sort})}" class="clear-button">Очистить</a>
		</form>

		<form th:action="@{/catalog}" method="get" class="sort-form">
			<input type="hidden" name="like" th:value="${like}" />
			<select name="sort" onchange="this.form.submit()">
				<option value="" th:selected="${#strings.isEmpty(sort)}">По умолчанию</option>
				<option value="asc" th:selected="${sort == 'asc'}">По возрастанию (цена)</option>
				<option value="desc" th:selected="${sort == 'desc'}">По убыванию (цена)</option>
			</select>
		</form>
		

		<div class="book-grid">
			<div th:each="item : ${stock}" class="book-item">
				<a th:href="@{/catalog/{id}(id=${item.book.isbn})}">
					<div class="books">
						<div>
							<img th:src="${item.book.coverUrl}" alt="Book Cover" class="book-image" />
						</div>
						<div>
							<h2 th:text="${item.book.title}">Book Title</h2>
							<p>
								<strong>Автор:</strong>
								<span th:text="${item.book.author}">Author Name</span>
							</p>
							<p>
								<strong>Цена:</strong>
								<span th:text="${#numbers.formatCurrency(item.price)}">Price</span>
							</p>
							<p th:if="${item.discount > 0}">
								<strong>Discount:</strong>
								<span th:text="${#numbers.formatPercent(item.discount)}">Discount</span>
							</p>
						</div>
					</div>
				</a>
			</div>
		</div>
		<!-- <div class="container">
			<div class="pagination" id="pagination-controls"></div>
		</div>
		<script type="text/javascript" th:src="@{/js/paganation.js}"></script> -->
	</main>
</body>

</html>