<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Корзина товаров</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link th:href="@{/css/navbar.css}" rel="stylesheet" />
    <script src="/js/quantityModifier.js" th:href="@{/js/quantityModifier.js}" defer></script>
</head>

<body>
    <header>
        <script type="text/javascript" th:src="@{/js/navbar.js}"></script>
    </header>

    <main class="paddings">
        <div>
            <div th:if="${!isLoggedIntoSystem}">
                <p>Авторизируйтесь для просмотра заказов</p>
            </div>

            <div th:if="${isLoggedIntoSystem}">
                <div th:if="${shoppingBin == null || shoppingBin.isEmpty()}">
                    <p>В корзине нет товаров</p>
                </div>

                <div th:if="${shoppingBin != null && !shoppingBin.isEmpty()}">
                    <table>
                        <tbody>
                            <tr th:each="item : ${shoppingBin}">
                                <td th:text="'Заказ № ' + ${item.orderId}"></td>
                                <td><img th:src="${item.bookProduct.book.coverUrl}" alt="Book Image" width="100" />
                                </td>
                                <td th:text="${item.bookProduct.book.title}"></td>
                                <td th:text="${item.bookProduct.book.author}"></td>
                                <td th:text="'Доставка в ' + ${item.location.city} + ',' + ${item.location.address} "></td>
                                <td th:text="${item.bookProduct.price * item.quantity} + ' $'"></td>
                                <td>
                                    <div>
                                        <button type="button" th:id="'decrement-' + ${item.orderId}"
                                            th:onclick="|updateQuantity(${item.orderId}, -1)|"
                                            th:disabled="${item.quantity <= 1}">-</button>

                                        <span th:id="'quantity-' + ${item.orderId}" th:text="${item.quantity}"></span>
                                        <button type="button"
                                            th:onclick="|updateQuantity(${item.orderId}, 1)|">+</button>
                                    </div>
                                </td>
                                <td>
                                    <form th:action="@{/shopping_bin/{id}/change_quantity(id=${item.orderId})}"
                                        th:method="patch">
                                        <input type="hidden" th:id="'quantity-input-' + ${item.orderId}" name="quantity"
                                            th:value="${item.quantity}" />
                                        <button type="submit" th:id="'save-' + ${item.orderId}"
                                            disabled>Сохранить</button>
                                    </form>

                                    <form th:action="@{/shopping_bin/{id}(id=${item.orderId})}" th:method="delete">
                                        <button type="submit">Удалить</button>
                                    </form>

                                    <form th:action="@{/shopping_bin/{id}(id=${item.orderId})}" th:method="PATCH">
                                        <button type="submit">Заказать</button>
                                    </form>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>

</body>

</html>