.book-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Three columns */
    gap: 20px; /* Space between items */
    margin: 20px;
}

.book-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}


.books img.book-image {
    width: 150px; 
    height: 200px;
    object-fit: cover; 
    border-radius: 3px;
    margin-bottom: 10px;
}

.books h2 {
    font-size: 1.2rem;
    margin: 10px 0;
}

.books p {
    margin: 5px 0;
    font-size: 1rem;
    color: #333;
}
